+++
title = "iCount"
linkTitle = "iCount"
+++

{{< blocks/cover title="Welcome to iCount: a package for protein-RNA interaction analysis" image_anchor="top" height="full" color="orange" color="primary" >}}
<div class="mx-auto">
	<center>
		<font color=gray size=6 style='font-weight: 1000;'>
		<table style='padding: 6px !important;'>
			<tr>
				<td valign=bottom align=center style='border-right: 3px solid; border-color: transparent;'>
					<div style='border-radius: 3px; display: table-cell; vertical-align:bottom; background-color: #ffffff; width: 40px; height: 30px;'><b>i</div>
				</td>
				<td valign=bottom align=center style='border-right: 3px solid; border-color: transparent;'>
					<div style='border-radius: 3px; display: table-cell; vertical-align:bottom; background-color: #ffffff; width: 40px; height: 90px;'><b>C</div>
				</td>
				<td valign=bottom align=center style='border-right: 3px solid; border-color: transparent;'>
					<div style='border-radius: 3px; display: table-cell; vertical-align:bottom; background-color: #ffffff; width: 40px; height: 70px;'><b>o</div>
				</td>
				<td valign=bottom align=center style='border-right: 3px solid; border-color: transparent;'>
					<div style='border-radius: 3px; display: table-cell; vertical-align:bottom; background-color: #ffffff; width: 40px; height: 60px;'><b>u</div>
				</td>
				<td valign=bottom align=center style='border-right: 3px solid; border-color: transparent;'>
					<div style='border-radius: 3px; display: table-cell; vertical-align:bottom; background-color: #ffffff; width: 40px; height: 40px;'><b>n</div>
				</td>
				<td valign=bottom align=center style='border-right: 3px solid; border-color: transparent;'>
					<div style='border-radius: 3px; display: table-cell; vertical-align:bottom; background-color: #ffffff; width: 40px; height: 60px;'><b>t</div>
				</td>
			</tr>
		</table>
		<br>
		</font>
	</center>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://icount.readthedocs.io/en/2.0.0/">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/tomazc/iCount">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"><b>iCLIP</b> data processing - in the cloud!<br><br>
	iCount is a Python module and associated command-line interface (CLI), which provides all the commands needed to process protein-RNA iCLIP interaction data and to identify and quantify sites of protein-RNA interactions on RNA.
	<br><br>iCount’s main input are FASTQ files with iCLIP sequencing data, its main output are BED files with identified and quantified cross-linked sites.
	<br><br>A number of analyses are included in iCount that provide insights into the properties of protein-RNA interaction.
</p>
	{{< blocks/link-down color="info" >}}
</div>

{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}

<div class="text-left">
iCount is a Python module and associated command-line interface (CLI),
which provides all the commands needed to process iCLIP data on
protein-RNA interactions and generate:
<br><br>

+ demultiplexed and adapter-trimmed FASTQ files,
+ BAM files with mapped iCLIP reads,
+ identified protein-RNA cross-linked sites, saved to BED files,
+ peaks composed of statistically significant cross-linked sites, saved to BED files,
+ clusters of significant cross-linked sites, saved to BED files,
+ grouping of individual replicate experiments,
+ RNAmap generation showing the positional distribution of cross-linked sites relative to genomic landmarks,
+ kmer enrichment analysis,
+ and other.

You may start with the [tutorial](http://icount.readthedocs.io/en/latest/tutorial.html) or dive into the
[documentation](http://icount.readthedocs.io/en/latest/index.html).

</div>

{{% /blocks/lead %}}

{{< blocks/section >}}
<div class="col-12">
<h1 class="text-center">Authors</h1>
<br>
iCount is developed and supported by Tomaž Curk from the Bioinformatics Laboratory at the University of Ljubljana, Faculty of Computer and Information Science and in collaboration with the laboratory of Jernej Ule.
The development started in late 2008 when Tomaž Curk and Gregor Rot wrote a first prototype of iCount. A lot has happend since then. For details and full acknowledgments, see the how to cite section in the documentation.
</div>
{{< /blocks/section >}}

{{< blocks/section color="dark">}}

{{% blocks/feature icon="fa-lightbulb" title="Try it out!" %}}
You can simply use a Docker instance with iCount and try it out on your iCLIP data.
Please follow this short <a href='https://icount.readthedocs.io/en/latest/installation.html' target=_new>quick-start guide</a>!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/tomazc/iCount" %}}
We do a [Pull Request](https://github.com/tomazc/iCount/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-file-signature" title="Contact" %}}
Contact us with issues and ideas over [GitHub.](https://github.com/tomazc/iCount/issues)
{{% /blocks/feature %}}

{{< /blocks/section >}}
