{{ define "main" }}

<br><br>

{{ $analysis := .Params.analysis }}
{{ $analyses := index .Site.Data.analysis }}

<br>
<br>

{{ $analysis_data := index $analyses $analysis }}
{{ $inputs := index $analysis_data "inputs" }}
{{ $outputs := index $analysis_data "outputs" }}
{{ $parameters := index $analysis_data "parameters" }}

<b><font color=darkred>Annotation</b></font>
<br>
<table border=0>
<tr>
  <td align=right><b>Type</b>:</td><td>{{ index $analysis_data "type" }}</td>
</tr>
<tr>
  <td align=right><b>Analysis ID</b>:</td><td>{{ index $analysis_data "id" }}</td>
</tr>
<tr>
  <td align=right><b>Created</b>:</td><td>{{ index $analysis_data "creation_date" }}</td>
</tr>
<tr>
  <td align=right><b>Note</b>:</td><td>{{ index $analysis_data "note" }}</td>
</tr>
</table>

<br>
<b><font color=darkred>Inputs</b></font>
{{ $inputs := index $analysis_data "inputs" }}

<table border=0>
{{ range $input_data := $inputs }}
  <tr>
      {{ $furl := index $input_data "result_filename" }}
      {{ $fname := index $input_data "result_filename" }}
      {{ $fname := split $fname "/" }}
      {{ $fname := index $fname (add (len $fname) -1) }}
    <td align=right><b>{{ index $input_data "type" }}</b>:</td><td><a href='{{ $furl }}'>{{ $fname }}</a> [{{ index $input_data "filesize"}}]</td>
  </tr>
{{ end }}
</table>

<br>
<b><font color=darkred>Outputs</b></font>
{{ $outputs := index $analysis_data "outputs" }}

<table border=0>
{{ range $output_data := $outputs }}
  <tr>
      {{ $furl := index $output_data "filename" }}
      {{ $fname := index $output_data "filename" }}
      {{ $fname := split $fname "/" }}
      {{ $fname := index $fname (add (len $fname) -1) }}
    <td align=right><b>{{ index $output_data "type" }}</b>:</td><td><a href='{{ $furl }}'>{{ $fname }}</a> [{{ index $output_data "filesize" }}]</td>
  </tr>
{{ end }}
</table>

<br>

{{ with .Content }}
{{ . }}
{{ end }}
{{ end }}
